.animation3screen {
	width: 375px;
}

.animation2screen container {
	position: relative;
}

#heartleft2{
	position: absolute;
	top: 200px;
	left: 80px;
}

.runanimation-hl2 {
  -webkit-animation: animationheartleft2 ease-out 1s;
  -webkit-animation-iteration-count: 1;
  -webkit-transform-origin: 50% 166px;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/ 	
}

@-webkit-keyframes animationheartleft2 {
  0% {
    -webkit-transform:  rotate(0deg) scaleX(0.00) scaleY(0.00) ;
  }
  40% {
    -webkit-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
  50% {
    -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  60% {
    -webkit-transform:  rotate(-25deg) ;
  }
  100% {
    -webkit-transform:  rotate(-25deg) scaleX(1.00) scaleY(1.00) ;
  }
}


#heartright2{
	position: absolute;
	top: 200px;
	left: 80px;
}

.runanimation-hr2 {
	-webkit-animation: animationheartright2 ease-out 1s;
	-webkit-animation-iteration-count: 1;
	-webkit-transform-origin: 50% 166px;
	-webkit-animation-fill-mode:forwards; 
}


@-webkit-keyframes animationheartright2 {
  0% {
    -webkit-transform:  rotate(0deg) scaleX(0.00) scaleY(0.00) ;
  }
  10% {
    -webkit-transform:  rotate(0deg) scaleX(0.50) scaleY(0.50) ;
  }
  35% {
    -webkit-transform:  rotate(0deg) scaleX(1.20) scaleY(1.20) ;
  }
  50% {
    -webkit-transform:  rotate(0deg) scaleX(1.00) scaleY(1.00) ;
  }
  60% {
    -webkit-transform:  rotate(25deg) ;
  }
  100% {
    -webkit-transform:  rotate(25deg) scaleX(1.00) scaleY(1.00) ;
  }
}

#fadeinelement2{
	padding-top: 400px;
	text-align: center;
	font-size: 40px;
	letter-spacing: 1px;


	color: #E6175C;
}
.runanimation-fi2{
	-webkit-animation: fadeIn2 ease-in 1s;
	-webkit-animation-iteration-count: 1;
}

@-webkit-keyframes fadeIn2 {
	0% {
		opacity:0;
	}
	70% {
		opacity:0;
	}
	100% {
		opacity:1;
	}
}